<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Kalinin0928</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est itaque totam omnis quis, iure
      unde voluptatem voluptatum tenetur assumenda impedit dolorem. Beatae laborum aut, in ullam sapiente explicabo,
      minus cumque facilis eveniet quidem maxime numquam quasi ab consequatur facere iusto vero modi quae consequuntur
      voluptatum soluta. Distinctio quo non consequatur quibusdam asperiores, saepe labore tenetur, exercitationem
      perferendis, ad aperiam commodi. Eligendi tempore alias illo quo, nihil ratione corporis totam. Veniam, officia.
      Molestias porro itaque eaque distinctio saepe! Praesentium amet nesciunt earum eaque repellat perferendis, dolores
      fuga ducimus pariatur nisi, sapiente ullam architecto sunt blanditiis saepe magnam quis? Reprehenderit, veritatis
      aut?.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="'/student'" [routerLinkActive]="'active'">Студенты</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" [routerLink]="'/student/add'" [routerLinkActive]="'active'">Добавить студента</button>
    </div>
  </div>
</div>
